SourceCode/IFN647_SearchEngine/IFN647_SearchEngine/obj/Debug/*
SourceCode/IFN647_SearchEngine/IFN647_SearchEngine/bin/Debug/IFN647_SearchEngine.exe
SourceCode/IFN647_SearchEngine/IFN647_SearchEngine/bin/Debug/IFN647_SearchEngine.pdb